.bordered {
    border: 1px dashed red;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 70vw;
    height: 80vh;

    position: relative;
}

.img-container {
    height: 100%;
}

.slides {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.active {
    display: block;
}

.arrow-top, .arrow-bot{
    background-color: lightgray;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.arrow-top{
    top: 15px;
}

.arrow-bot{
    bottom: 15px;
}